.Announcement {
  height: calc(60% - 48px);
  margin: 5% 20px 0px;
}

.image {
  margin: 0px auto;
  display: block;
  height: auto;
}

.names {
  composes: image;
  width: 100%;
}

.date {
  composes: image;
  margin-top: 45px;
  width: 35%;
}

.place {
  composes: image;
  margin-top: 45px;
  width: 60%;
}
