.App {
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FEF9ED;
  background-position: center;
}

