.App {
  min-height: 100vh;
  margin: 0;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FEF9ED;
  background-position: center;
  background-attachment: fixed;
}

