.Text {
  font-family: 'Libre Baskerville';
  color: #BB8463;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.medium {
  font-size: 3.6vmin;
}

.large {
  font-size: 5.2vmin;
}

.small {
  font-size: 2vmin;
}

