.Text {
  font-family: 'Cormorant Garamond', serif;
  color: #BB8463;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.medium {
  font-size: 3.6vmin;
}

.large {
  font-size: 5.2vmin;
}

.small {
  font-size: 2vmin;
}

.mediumFixed {
  font-size: 32px;
}

.largeFixed {
  font-size: 42px;
}

.smallFixed {
  font-size: 18px;
}

.fancy {
  text-transform: uppercase;
  font-weight: 600;
}

