@value colors: '../../colors.module.css';
@value active from colors;

.Photos {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.Photo {
  border: 8px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 8px;
  color: active;
}

.img {
  width: 100%;
  transition: display 200ms ease-in;
  display: none;
}

.loaded .img {
  display: initial;
}


