@value colors: '../colors.module.css';
@value background, active, text from colors;

.Nav {
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 55px;
}

.container {
  max-width: 916px;
  margin: 0px auto;
}

.list {
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 18px;
}

.listDropdown {
  position: absolute;
  display: block;
  z-index: 900;
  background-color: background;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 0;
}

.listDropdownEnter {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.listDropdownEnterActive {
  opacity: 1;
}

.listDropdownEnterDone {
  opacity: 1;
}

.listDropdownExit {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.item {
  list-style: none;
  margin-right: 18px;
  position: relative;
}

.listDropdown .item {
  margin: none;
  padding: 8px 0;
}

.listDropdown .item:hover {
  background-color: #f6f1e5;
}

.link {
  text-decoration: none;
  display: block;
}

.activeLink {
  border-bottom: 1px solid active;
}

.listDropdown .link {
  height: 32px;
  line-height: 32px;
}

.listDropdown .activeLink {
  border-bottom: none;
  border-left: 3px solid active;
  padding: 0 8px;
}

.subitems {
  position: absolute;
  display: none;
  z-index: 901;
  background-color: background;
  padding-top: 4px;
  padding-bottom: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 220px;
}

.item:hover .subitems {
  display: block;
}

.subitem {
  list-style: none;
  margin-right: 18px;
  position: relative;
  margin: none;
  padding: 8px 0;
}

.sublink {
  text-decoration: none;
  display: block;
  height: 32px;
  line-height: 32px;
}

.subitem:hover {
  background-color: #f6f1e5;
}

.hamburger {
  cursor: pointer;
  border: none;
  background: none;
  padding: 11px 5px;
  color: text;
  height: 42px;
}

.hamburger svg {
  fill: currentColor;
}

