@value colors: '../colors.module.css';
@value text from colors;

.Text {
  font-family: 'Cormorant Garamond', serif;
  color:text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

@media(max-width: 600px) {
  html {
    font-size: 10px;
  }
}


.medium {
  font-size: 2rem;
}

.large {
  font-size: 3rem;
}

.small {
  font-size: 1rem;
}

.smedium {
  font-size: 1.5rem;
}

.fancy {
  text-transform: uppercase;
  font-weight: 600;
}

