.Announcement {
  margin: 16px;
  height: calc(60% - 32px);
}

.image {
  margin: 0px auto;
  display: block;
  height: auto;
}

.names {
  composes: image;
  width: 100%;
}

.date {
  composes: image;
  width: 35%;
}

.place {
  composes: image;
  width: 60%;
}

.image + .image {
  margin-top: 16px;
}

